* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.productos__tortas__img {
  height: 35%;
  width: 35%;
  margin-left: 400px; }

.productos__sandwichdemiga__img {
  height: 35%;
  width: 35%;
  margin-left: 400px; }

header .logo {
  width: 50%;
  height: 50%; }

header nav {
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 15px; }
      header nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 900;
        transition: 1s; }
        header nav ul li a:hover {
          color: crimson; }

main .tortas .tarjeta {
  display: flex;
  align-items: center;
  justify-content: center; }

main .hero {
  width: 100%;
  height: 70vh;
  background-image: url("../img/frente-panaderia.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  main .hero h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px; }

main .historia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: cadetblue; }
  main .historia img {
    height: 300px;
    width: 300px; }
  main .historia div {
    width: 40%;
    text-align: center; }
    main .historia div h2 {
      padding: 20px;
      text-decoration: underline;
      font-size: 25px; }

main .tortas {
  background-color: cadetblue; }
  main .tortas .tortas__title {
    text-align: center;
    font-size: 40px;
    text-decoration: underline; }
  main .tortas .tarjeta {
    width: 100%;
    flex-wrap: wrap;
    transition: 1s; }
    main .tortas .tarjeta .card {
      margin: 10px; }
      main .tortas .tarjeta .card:hover {
        transform: scale(1.1); }

main .formulario .form {
  text-align: center;
  padding: 32px;
  background-color: #97b1b9; }
  main .formulario .form .form__name {
    margin: 10px; }
  main .formulario .form .form__email {
    margin: 10px; }
  main .formulario .form .form__phone {
    margin: 10px; }
  main .formulario .form .form__textarea {
    margin: 10px; }

main .iframe {
  background-color: #97b1b9;
  padding: 12px; }

main .productos__title {
  text-align: center; }

main .productos__tortas h2 {
  text-align: center; }

main .productos__tortas div {
  padding: 30px; }

main .productos__sandwichdemiga h2 {
  text-align: center; }

main .productos__sandwichdemiga div {
  padding: 30px; }

main .galeria {
  width: 100%;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 130px;
  gap: 18px;
  margin-bottom: 15px;
  padding-left: 12px;
  padding-right: 12px; }
  main .galeria .img-2 {
    grid-row: span 2; }
  main .galeria .img-9 {
    grid-column: span 2;
    grid-row: span 2; }
  main .galeria .img-13 {
    grid-column: span 2;
    grid-row: span 2; }
  main .galeria .img-16 {
    grid-column: span 2; }
  main .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 23px -7px rgba(64, 74, 47, 0.64);
    -webkit-box-shadow: 10px 10px 23px -7px rgba(64, 74, 47, 0.64);
    -moz-box-shadow: 10px 10px 23px -7px rgba(64, 74, 47, 0.64); }

main h1 {
  text-align: center;
  text-decoration: underline; }

main .sandwich-base-jamon .sandwich-base-jamon__title {
  text-align: center;
  font-size: 32px; }

main .sandwich-base-jamon p {
  text-decoration: underline;
  font-size: 23px;
  margin: 8px; }

main .sandwich-base-queso .sandwich-base-queso__title {
  text-align: center;
  font-size: 32px; }

main .sandwich-base-queso p {
  text-decoration: underline;
  font-size: 23px;
  margin: 8px; }

.productos {
  background-color: #97b1b9; }

.sandwich {
  background-color: #97b1b9; }

footer {
  background-color: wheat;
  display: flex;
  justify-content: center;
  transition: 1s; }
  footer div:hover {
    transform: scale(1.1); }
  footer div img {
    width: 50px;
    height: 50px;
    margin: 0px 15px 0px 15px; }

@media screen and (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px; }
  .img-19 {
    grid-row: span 2; }
  .img-20 {
    grid-column: span 2; }
  .productos__sandwichdemiga__img {
    margin-left: 300px; }
  .productos__tortas__img {
    margin-left: 300px; } }

@media screen and (max-width: 845px) {
  /* header nav ul
    {
        flex-direction: column;
        text-align: center;
    } */
  header .logo {
    width: 60%;
    height: 60%; }
  .productos__sandwichdemiga__img {
    margin-left: 250px; }
  .productos__tortas__img {
    margin-left: 250px; } }

@media screen and (max-width: 713px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px; }
  .grid-items {
    grid-column: span 1;
    grid-row: span 1; }
  .productos__sandwichdemiga__img {
    margin-left: 200px; }
  .productos__tortas__img {
    margin-left: 200px; } }

@media screen and (max-width: 627px) {
  .iframe__map {
    width: 500px;
    height: 500px;
    margin-left: 55px; }
  .historia div {
    width: 60%; }
  .historia {
    flex-wrap: wrap; }
  .productos__sandwichdemiga__img {
    margin-left: 150px; }
  .productos__tortas__img {
    margin-left: 150px; } }

@media screen and (max-width: 583px) {
  .iframe__map {
    width: 400px;
    height: 400px; } }

@media screen and (max-width: 490px) {
  .iframe__map {
    width: 300px;
    height: 300px; } }

@media screen and (max-width: 465px) {
  .galeria {
    grid-template-columns: 1fr; }
  .grid-items {
    grid-column: span 1;
    grid-row: span 1; }
  .productos__sandwichdemiga__img {
    margin-left: 100px; }
  .productos__tortas__img {
    margin-left: 100px; } }

@media screen and (max-width: 419px) {
  header .logo {
    width: 80%;
    height: 80%; }
  /* header
    {
        flex-wrap: wrap;
        justify-content: space-around;
    } */ }

@media screen and (max-width: 390px) {
  .iframe__map {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 325px) {
  .iframe__map {
    width: 200px;
    height: 200px; }
  .historia img {
    width: 250px;
    height: 250px; }
  .hero h1 {
    font-size: 30px; } }

@media screen and (max-width: 261px) {
  .historia img {
    width: 200px;
    height: 200px; }
  header .logo {
    width: 100%;
    height: 100%; } }
